<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img src="assets/CagouilleWhite.svg">
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title mode="ios">
      Dhareshsaw L'escargot
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <img src="assets/champLaitue.jpg">
      <ion-button expand="block" color="success" (click)="sceneService.newGame()">Nouvelle Partie</ion-button>
      <ion-button expand="block" color="success" (click)="loadGame()" >Reprendre Partie en cours</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<!--Footer de l'application-->
<ion-footer >
  <ion-toolbar color="secondary" style="text-align: center">
    <!--<ion-grid style="padding: 0; margin: 0; height: 100%">
      <ion-row style="height: 100%">
        <ion-col style="padding: 0; height: 100%">
        </ion-col>
        <ion-col style="padding: 0; height: 100%">
          <ion-buttons style="background-color: #04471c;">
            <ion-button routerLink="/object-inventory">
              <ion-icon  style="color: white;" slot="icon-only" name="person-circle"></ion-icon>
            </ion-button>
            <ion-button>
              <ion-icon style="color: white;" slot="icon-only" name="git-network"></ion-icon>
            </ion-button>
            <ion-button>
              <ion-icon style="color: white;" slot="icon-only" name="document"></ion-icon>
            </ion-button>
            <ion-button>
              <ion-icon  style="color: white;" slot="icon-only" name="exit"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>
        <ion-col style="padding: 0; height: 100%">
        </ion-col>
      </ion-row>
    </ion-grid>-->
  </ion-toolbar>
</ion-footer>

