<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img src="assets/CagouilleWhite.svg">
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title mode="ios">
      Dhareshsaw L'escargot
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <img src="assets/champLaitue.jpg">
      <ion-button expand="block" color="success" (click)="newGame()">Nouvelle Partie</ion-button>
      <ion-button expand="block" color="success" (click)="loadGame()" >Reprendre Partie en cours</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

