ion-content {
    height: 100%;
    font-size: 20px;
    --background :#a7c957;
}

ion-footer {
    display:flex;
}

ion-footer > ion-button {
    display:flex;
    margin-left: auto;
    margin-right: auto;
    --background:#a7c957;
}

ion-button {
    display:flex;
    margin-left: 10%;
    margin-right: auto;
    --background:#a7c957;
}

ion-title{
    font-weight: bold;
}

.bulletPoints{
    list-style-type: circle;
}

.bushImgContainer{
    justify-content: center;  
    width: 100%;
}

.container{
    display: flex;
}

.img {
    width: 50%;
}

.imgBush{
    width: 70%;
}

.imgContainer {
    display: flex;
    align-items: center;    
    justify-content: center;  
    width: 50%;
}

.powerList{
    display: list-item;
}

.emptyInventoryText{
    font-size: 2000ch;
}

