ion-content {
    height: 100%;
    font-size: 20px;
    --background :#a7c957;
}

ion-footer {
    display:flex;
}

ion-footer > ion-button {
    display:flex;
    margin-left: auto;
    margin-right: auto;
    --background:#a7c957;
}

ion-button {
    display:flex;
    margin-left: 10%;
    margin-right: auto;
    --background:#a7c957;
}

ion-title{
    font-weight: bold;
}

.imgShell {
    width: 70%;
    margin-right: 20px;
}

.imgSnail {
    width: 70%;
    margin-left: 20px;
}

.imgBush{
    width: 40%;
    size: 20px;
}

.powerList{
    display: block;
}

.emptyInventoryText{
    font-size: 2000ch;
}

