<ion-header>
  <ion-toolbar style="text-align: center;">
    <ion-grid>
      <ion-row>
        <ion-title>ARSENAL</ion-title>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="padding: 0; margin: 0; height: 90%">
    <ion-row size="4">
      <ion-col size="6">
        <img src="/assets/shell-less-snail.png" class="imgSnail"/>
      </ion-col>

      <ion-col size="6">
        <ion-title>Pouvoirs:</ion-title>

        <ion-label>
          force: {{ this.modalHero.strength}}
        </ion-label>
        <ion-label>
          endurance: {{ this.modalHero.endurance}}
        </ion-label>
        <ion-label>
          chance: {{ this.modalHero.luck}}
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row size="4">
      <ion-col size="6">
        <ion-title>Inventaire:</ion-title>
        <div *ngFor="let heroObjectInventory of modalHero.items">
          <ion-button (click)="updateHeroInventory(heroObjectInventory.description)">
            {{ heroObjectInventory.description}}
          </ion-button>
        </div>
      </ion-col>
      <ion-col size="6">
        <img src="/assets/snail-shell.png" class="imgShell"/>
      </ion-col>
    </ion-row>

    <ion-row size="4">
      <ion-col *ngIf="keyToAppear" size="12">
        <ion-title>Le Graal:</ion-title>
        <div>
          <p>Clé du champ</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-footer style="background-color: #04471c;">
    <ion-button size="small" (click)="closeObjectInventoryModal()">
      Fermer
    </ion-button>
  </ion-footer>
</ion-content>
