<ion-header>
  <ion-toolbar text-center>
    <ion-title>Déroulement de l'histoire</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-card>
    <div *ngFor="let element of sauvegardeService.story">
      <p>  Arrivée dans la scène : {{element.scene._id}} </p>
      <p>  {{element.scene.title}} </p>
      <p>  {{element.scene.description}} </p>
      <p *ngFor="let action of element.actions">  {{action}} </p>
    
    </div>
  </ion-card>

  <ion-button  expand="full" 	(click)="closeModalHistory()">Fermer </ion-button>	

</ion-content>
