<ion-header>
  <ion-toolbar>
    <ion-title>{{ modalTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="resultatCombat" id="fonDecran" > 
    <img src="../../assets/gagne4.png" alt="gagne" id="win">
  </div>
  <div *ngIf="!resultatCombat" id="fonDecran" >
    <img src="../../assets/knock-out.png" alt="perdu" id="loose">
  </div>  
  <div id="snail">
    <div id="shell"></div>
    <div id="slug"></div>
  </div>
  <div id="slime"></div>
</ion-content>


<ion-content *ngIf="resultatCombat" class="bgImage" [ngStyle]="{'background-image': 'url('+ scene.picture +')'}">
  <style>
    .bgImage {
      --background: none;
      --background-image: url("scene.picture") no-repeat center center fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>

<ion-footer>
  <ion-toolbar>
   <ion-button (click)="closeModal()" expand="block" fill="clear" shape="round">
    Continuer le jeu
   </ion-button>
  </ion-toolbar>
</ion-footer>


 