 @media all and (max-width: 600px) {
 } 
 #snail {
    height:75px;
    width:120px;
    position:absolute;
    z-index:1;
    top:300px;
    left:-120px;
    animation: 25s snailCrawl linear infinite;
   // animation: 50s snailCrawl linear infinite;
    #shell {
      height:64px;
      width:74px;
      border-radius:100%;
      background: rgb(140,79,19); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(140,79,19,1) 44%, rgba(140,79,19,1) 51%, rgba(95,48,1,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(44%,rgba(140,79,19,1)), color-stop(51%,rgba(140,79,19,1)), color-stop(100%,rgba(95,48,1,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(140,79,19,1) 44%,rgba(140,79,19,1) 51%,rgba(95,48,1,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(140,79,19,1) 44%,rgba(140,79,19,1) 51%,rgba(95,48,1,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(140,79,19,1) 44%,rgba(140,79,19,1) 51%,rgba(95,48,1,1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(140,79,19,1) 44%,rgba(140,79,19,1) 51%,rgba(95,48,1,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c4f13', endColorstr='#5f3001',GradientType=1 ); /* IE6-9 */
  
      position:absolute;
      z-index:1;
      top:5px;
      left:20px;
      overflow:visible;
      transform:rotate(20deg);
      &:after {
        content:'';
        display:block;
        position:absolute;
        right:49px;
        width:0;
        height:0;
        border-right:54px solid #8c4f13;
        border-top:32px solid transparent;
        border-bottom:32px solid transparent;
        border-radius:64px;
      }
    }
    #slug {
      width:170px;
      height:30px;
      position:absolute;
      bottom:0;
      right:0;
      background:green;
      border-radius:0 15px 5px 0;
      animation: 0.50s slugSquish ease-in-out infinite;
     // animation: 1.25s slugSquish ease-in-out infinite;

      &:before { /* creates antennae */
        content:'.';
        font-size:50px;
        line-height:0px;
        color:transparent;
        text-shadow: -7px -12px 0 rgb(183,223,45), -1px -7px 0 rgb(183,223,45);
        display:block;
        position:absolute;
        height:30px;
        width:2px;
        background:green;
        right:10px;
        top:-25px;
        transform:rotate(30deg);
        box-shadow:6px 5px 0 green;
      }
      &:after { /* creates tail */
        content:'';
        display:block;
        position:absolute;
        bottom:0px;
        left:-100px;
        height:0;
        width:0;
        border-left:100px solid transparent;
        border-bottom:40px solid green;
      }
    }
  }
  
  #slime {
    height:5px;
    width:50%;
    background: -moz-linear-gradient(left,  rgba(183,223,45,0) 0%, rgba(183,223,45,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(183,223,45,0)), color-stop(100%,rgba(183,223,45,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(183,223,45,0) 0%,rgba(183,223,45,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(183,223,45,0) 0%,rgba(183,223,45,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(183,223,45,0) 0%,rgba(183,223,45,1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(183,223,45,0) 0%,rgba(183,223,45,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7df2d', endColorstr='#b7df2d',GradientType=1 ); /* IE6-9 */
    position:absolute;
    z-index:0;
    top:372px;
    left:-50%;
    animation: 25s slimeSpread linear infinite;
   // animation: 25s slimeSpread linear infinite;
    border-radius:3px;
  }
  
  @keyframes snailCrawl {
    0% {
      left:-120px;
    }
    100% {
      left:calc(100% + 120px);
    }
  }
  
  @keyframes slimeSpread {
    0% {
      left:-50%;
      opacity:.5;
    }
    95% {
      opacity:.5;
    }
    100% {
      left:calc(50% + 240px);
      opacity:0;
    }
  }
  
  @keyframes slugSquish {
    0% {
      width:50px;
      right:-5px;
    }
    50% {
      width:40px;
      right:0px;
    }
    100% {
      width:50px;
      right:-5px;
    }
  }

  ion-icon {
    font-size: 80px;
    color :#a7c957;
}
ion-button {
    font-family: 'Segoe Print';
    color: black;
    --background:#c7df8e;
    --color: black;
    --opacity: 1;
    --padding-bottom: 4px;
    --padding-end: 4px;
    --padding-start: 4px;
    --padding-top: 4px;
    --ripple-color:#bc4749;
    --transition: background-color 15ms linear;
}

ion-toolbar {
  --background:#f2e8cf;
  font-family: 'Segoe Print';
}

.fondEcran
{
    /* Fixe l'image en haut à gauche de la page */
     position: fixed; 
     top: 0; 
     left: 0; 
    /* Préserve le ratio de l'image */
     min-width: 80%;
     min-height: 100%;
   /* L'image est positionnée en fond et est centrée */
   //--background-image: url("scene.picture") no-repeat center center fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   
#win{
/* Fixe l'image en haut à gauche de la page */
    position: fixed; 
     top: 50; 
     left: 50; 
     /* Préserve le ratio de l'image */
     min-width: 80%;
     min-height: 100%;
  }

  #loose{
   
  }
  
   //background: no-repeat center fixed url("fondEcran");
  // 
   /* Ajout de la propriété avec les préfixes pour tous les moteurs de rendu */
  //  -webkit-background-size: cover;
  //  -moz-background-size: cover;
  //  -o-background-size: cover;
  //  background-size: cover;--background-image : url(+"choixFondEcran"+);
}
  
  
  
  
  // --background: none;
  //   --background-image: url("fondEcran") no-repeat center center fixed;
  //   background-position: center;
  //   background-repeat: no-repeat;
  //   background-size: cover;
  

//    #loose{
//     /* Fixe l'image en haut à gauche de la page */
//     position: fixed; 
//     top: 0; 
//     left: 0; 
//     /* Préserve le ratio de l'image */
//     min-width: 80%;
//     min-height: 100%;
//    /* L'image est positionnée en fond et est centrée */
//    background:no-repeat center url("../../assets/fond-combat\ perdu.jpg"); 
//    /* Ajout de la propriété avec les préfixes pour tous les moteurs de rendu */
//    -webkit-background-size: cover;
//    -moz-background-size: cover;
//    -o-background-size: cover;
//    background-size: cover;
// }
  
//   #win{
//    /* Fixe l'image en haut à gauche de la page */
//    position: fixed; 
//    top: 0; 
//    left: 0; 
//    /* Préserve le ratio de l'image */
//    min-width: 100%;
//    min-height: 100%;
//    background-position: center;
//    background-size: cover;
//    background: center no-repeat transparent url("../../assets/fond-combat\ gagne.jpg");
//   }
  
  
    h3 {
      text-align:center;
      font-size:65px;
      font-weight:100;
      padding:55px;
      color:blanchedalmond;
      font-family: 'Segoe Print';
    }
    
   







    
// background-color:#c7df8e;

 

// .fightCard {
//     height: 25%;
// }

// .arrowsArea {
//     display: flex;
//     justify-content: space-around;
//     padding: 5px;

// }
// .arrowsAreaText {
//     text-align: center;
//     padding-bottom: 5px;
// }

// .description {
//      height: 41%;
//     padding-bottom: 11px;
// }

// .imgScene {
//     float: left;
//     width: 20%;
//     margin-right: 10px;
//     padding-bottom: 20px
// }

// .imgFight {
//     width: 100%;
// }

// .fightArea {
//     display: flex;
//     justify-content: space-around;
//     margin-top: 5%;

//     ion-card {
//         width: 40%;
//         --background: rgba(0, 0, 0, 0.8);
//         padding-top: 10px;
//         padding-bottom: 10px;

//         ion-card-title {
//             text-align: center;
//             margin-bottom: 10px;
//             color: #bc4749;
//         }

//         ion-card-subtitle {
//             margin-left: 10px;
//             color: #f2e8cf;
//         }
//     }
// }


// .buttonsArea {
//     display: flex;
//     justify-content: space-around;

//     ion-button {
//        --background: #bc4749;
//     }
// }