<ion-header>
  <ion-toolbar>
    <ion-title>{{ modalTitle }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-no-padding">
  <div *ngIf="resultatCombat" class="fondEcran" style=" background-image: url(../../assets/fondCombatGagne.jpg);">
   <h1 class="colorWin">{{messageWin}}</h1>
    <img [src]="imageWin" id="winLoose">  
  </div>
  <div *ngIf="!resultatCombat" class="fondEcran" style=" background-image: url(../../assets/fondCombatPerdu.jpg);">  
    <h1 class="colorLoose">{{messageLoose}}</h1>
    <img [src]="imageLoose" alt="perdu" id="winLoose">
  </div> 

  <div id="snail">
    <div id="shell"></div>
    <div id="slug"></div>
  </div>
  <div id="slime"></div>

</ion-content> 

<!-- 

<ion-content>
  <div class="fondEcran" [style.background]="fondEcranWin"
      *ngIf="resultatCombat ;else modalContent">
      <h1>{{messageWin}}</h1>
      <img [src]="imageWin" id="win"> 
  </div>
  style="background-image: url(../../assets/fondCombatGagne.jpg);"
      
  <ng-template #modalContent>
    <h1>{{messageLoose}}</h1> 
    <img [src]="imageLoose" alt="perdu" id="loose">
  </ng-template >
</ion-content>  -->

 
<!-- 
<ion-content *ngIf="resultatCombat" class="bgImage" [ngStyle]="{'background-image': 'url('+ scene.picture +')'}">
  <style>
    
  </style> -->

<ion-footer>
  <ion-toolbar>
   <ion-button (click)="closeModal()" expand="block" fill="clear" shape="round">
    Continuer le jeu
   </ion-button>
  </ion-toolbar>
</ion-footer>
