<ion-header>
  <ion-toolbar>
    <ion-title>{{ modalTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="resultatCombat" class="fonDecran" style=" background-image: url(../../assets/fondCombatGagne.jpg);">
   <h3>{{messageWin}}</h3>
    <img [src]="imageWin" id="win">  
  </div>
  <div *ngIf="!resultatCombat" class="fonDecran" style=" background-image: url(../../assets/fondCombatPerdu.jpg);">  
    <h3>{{messageLoose}}</h3>
    <img [src]="imageLoose" alt="perdu" id="loose">
  </div> 

  <div id="snail">
    <div id="shell"></div>
    <div id="slug"></div>
  </div>
  <div id="slime"></div>

</ion-content>

<!-- 
<ion-content *ngIf="resultatCombat" class="bgImage" [ngStyle]="{'background-image': 'url('+ scene.picture +')'}">
  <style>
    
  </style> -->

<ion-footer>
  <ion-toolbar>
   <ion-button (click)="closeModal()" expand="block" fill="clear" shape="round">
    Continuer le jeu
   </ion-button>
  </ion-toolbar>
</ion-footer>
