ion-icon {
    font-size: 80px;
    color: #a7c957;
}

ion-toolbar {
    --background: #f2e8cf;
    color: #04471c;
}

ion-card {
    opacity: 0.9;
}

ion-content {
    height: 100%;
    --background: transparent;
}

ion-card-content {
    --background: transparent;
}

.sceneDescription {
    font-size: 20px;
}

.fightCard {
    height: 25%;
}

.arrowsArea {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    align-items: flex-end;
}

#arrowUp {
    padding-bottom: 40px;
}

.arrowsAreaText {
    text-align: center;
    padding-bottom: 5px;
}

.description {
    height: 41%;
    padding-bottom: 11px;
}

.imgScene {
    float: left;
    width: 20%;
    margin-right: 10px;
    padding-bottom: 20px;
}

.imgFight {
    width: 100%;
}

.difficultIcon {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fightArea {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;

    ion-card {
        width: 40%;
        --background: rgba(0, 0, 0, 0.8);
        padding-top: 10px;
        padding-bottom: 10px;

        ion-card-title {
            text-align: center;
            margin-bottom: 1.5em;
            color: #bc4749;
        }

        ion-card-subtitle {
            margin-left: 10px;
            color: #f2e8cf;
        }
    }
}

.buttonsArea {
    display: flex;
    justify-content: space-around;

    ion-button {
        --background: #bc4749;
        width: 150px;

        img {
            max-height: 100%;
        }
    }
}

ion-progress-bar {
    height: 10px;
    border-radius: 2px;
    --background: #5de48c;
    --progress-background: #04471c;
}

#margin {
    width: 5%;
}

ion-toolbar {
    --background: #f2e8cf;
 }