<ion-header>
  <ion-toolbar>
    <ion-title>{{scene.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngStyle]="{'background': 'url(' + scene.picture + ')'}">
    <ion-card>
      <ion-card-content>{{scene.description}}</ion-card-content>
      <ion-card-content>flèche
      </ion-card-content>
      <ion-card-content>flèche
      </ion-card-content>
      <ion-card-content>flèche
      </ion-card-content>
      <!--<img src="{{scene.picture}}">-->
    </ion-card>
  </div> 
</ion-content>


<!--<ion-content>
  <img src="{{heros.avatar}}">
  <img src="{{adversaire.avatar}}">
  <button (click) = "fightRandom()">Fight !!!</button>
  <button (click) = "escape()">Cours Forest, cooooooours</button>-->
  <!--<button *ngIf = "characterService.conditionnalFightBool === true">Jeter le dé</button>-->
<!--</ion-content>-->
