ion-icon {
    font-size: 80px;
    color : rgba(255, 255, 255, 0.8);
}

ion-card {
    background-color: rgba(255, 255, 255, 0.9);
    height : 55%;
}

div {
    display: flex;
    background-color: transparent;
    justify-content: center;
}
