ion-icon {
    font-size: 80px;
    color :#a7c957;
}

ion-card {
    opacity: 0.9;
   
   
}

ion-content {
    height: 100%;
    --background : transparent;
}

ion-card-content {
    --background : transparent;
}

.fightCard {
    height: 25%;
}

.arrowsArea {
    display: flex;
    justify-content: space-around;
    padding: 5px;

}
.arrowsAreaText {
    text-align: center;
    padding-bottom: 5px;
}

.description {
     height: 41%;
    padding-bottom: 11px;
}

.imgScene {
    float: left;
    width: 40%;
    margin-right: 10px;
    padding-bottom: 20px
}

.imgFight {
    width: 40%;
}

.imgFightArea {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

.buttonsArea {
    display: flex;
    justify-content: space-around;

    ion-button {
       --background: #bc4749;
    }
}
