ion-title {
    font-family: Segoe Print; 
    background-color: #f2e8cf;   
}

ion-label {
    font-family: Calibri;
}

ion-text {
    font-family: Komika;
}



.coul1{
    background-color:#c7df8e;
}

.coul2{
    background-color: #a7c957;
}

.cadre1{
    color-adjust: #c7df8e;
}


