<ion-header class="header">
  <ion-toolbar>
    <ion-title mode="ios">CLASSEMENT</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item class="cadre1" color="">      
      <ion-label class="coul1">1  YOYO le bourricot</ion-label> <ion-text>174 pts</ion-text>
    </ion-item>
    <ion-item class="cadre2">
      <ion-label class="coul2">2  Herve le sanglier</ion-label> <ion-text>158 pts</ion-text>
    </ion-item>
    <ion-item class="cadre1">
      <ion-label class="coul1">3  Noemie la fourmi</ion-label> <ion-text>150 pts</ion-text>
    </ion-item>
    <ion-item class="cadre2">
      <ion-label class="coul2">4  Anabelle la sauterelle</ion-label> <ion-text>148 pts</ion-text>
    </ion-item>
    <ion-item class="cadre1">
      <ion-label class="coul1">5  Elodie la pie</ion-label><ion-text>146 pts</ion-text>
    </ion-item>
    <ion-item class="cadre2">
      <ion-label class="coul2">6  Rapha le lama</ion-label><ion-text>110 pts</ion-text>
    </ion-item>
    <ion-item class="cadre1">
      <ion-label class="coul1">7  Paula le koala</ion-label><ion-text>102 pts</ion-text>
    </ion-item>
    <ion-item class="cadre2">
      <ion-label class="coul2">8  Bobo le corbeau</ion-label><ion-text>100 pts</ion-text>
    </ion-item>
    <ion-item class="cadre1">
      <ion-label class="coul1">9  Titou le Tatoo</ion-label><ion-text>90 pts</ion-text>
    </ion-item>
    <ion-item class="cadre2">
      <ion-label class="coul2">10  Vanessa le chat</ion-label><ion-text>80 pts</ion-text>
    </ion-item>
    <ion-item class="cadre1">
      <ion-label class="coul1">11  Dhareshsaw l'escargot</ion-label><ion-text>70 pts</ion-text>
    </ion-item>
    <ion-item class="cadre2">
      <ion-label class="coul2">12  Yvan l'habitant</ion-label><ion-text>60 pts</ion-text>
    </ion-item>
    <ion-item class="cadre1">
      <ion-label class="coul1">13  Jean Christo le crapaud</ion-label><ion-text>50 pts</ion-text>
    </ion-item>
    <ion-item class="cadre2">
      <ion-label class="coul2">14  Mathias la limace</ion-label><ion-text>40 pts</ion-text>
    </ion-item>

  </ion-list>
  


</ion-content>
