<ion-header class="header">
  <ion-toolbar>
    <ion-title mode="ios">CLASSEMENT</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>1  YOYO le bourricot</ion-label> <ion-text>74 pts</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>2  Herve le sanglier</ion-label> <ion-text>58 pts</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>3  Noemie la fourmi</ion-label> <ion-text>50 pts</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>4  Anabelle la sauterelle</ion-label> <ion-text>48 pts</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>5  Elodie la pie</ion-label><ion-text>46 pts</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>6  Rapha le lama</ion-label><ion-text>10 pts</ion-text>
    </ion-item>
  </ion-list>
  


</ion-content>
