ion-title {
    font-family: Segoe Print; 
    background-color: #f2efc8;   
}

ion-label {
    font-family: Calibri;
}

ion-text {
    font-family: Komika;
}

.coul1{
    color:"sable";
    background-color: #c7df8e;
}

.coul2{
    color:"red"; 
    background-color: #bc4749;
}

.coul3{
    color:"red";
    background-color: #04471c;
}


