<ion-header class="header">
  <ion-toolbar>
    <ion-title mode="ios">CLASSEMENT</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="coul1">
    <ion-item color="sable">
      <ion-avatar slot="start">
        <img src="../../assets/avatars/insignePremier.jpg">
      </ion-avatar>
      <ion-avatar slot="start">               
        <img src="../../assets/avatars/johann.png">
      </ion-avatar>      
      <ion-label>Yoyo le bourricot</ion-label>
      <ion-badge slot="end" class="coul2">10250</ion-badge>      
    </ion-item>
    <ion-item color="sable">
      <ion-avatar slot="start">
        <img src="../../assets/avatars/insigneSecond.jpg">
      </ion-avatar>
      <ion-avatar slot="start">
        <img src="../../assets/avatars/johann.png">
      </ion-avatar>
      <ion-label>Herve le sanglier</ion-label>
      <ion-badge slot="end" class="coul2">10000</ion-badge>
    </ion-item>
    <ion-item color="sable">
      <ion-avatar slot="start">
        <img src="../../assets/avatars/dhareshsaw.png">
      </ion-avatar>
      <ion-label>Dhareshsaw l'escargot</ion-label>
      <ion-badge slot="end" class="coul2">9999</ion-badge>
    </ion-item>
    <ion-item color="sable">
      <ion-avatar slot="start">
        <img src="../../assets/avatars/jc.png">
      </ion-avatar>
      <ion-label>Jean-Christo le crapaud</ion-label>
      <ion-badge slot="end" class="coul3">9000</ion-badge>
    </ion-item>
    <ion-item color="sable">
      <ion-avatar slot="start">
        <img src="../../assets/avatars/mathias.png">
      </ion-avatar>
      <ion-label>Mathias la limace</ion-label>
      <ion-badge slot="end" class="coul3">8500</ion-badge>
    </ion-item>
    <ion-item color="sable">
      <ion-avatar slot="start">
        <img src="../../assets/avatars/noemie.png">
      </ion-avatar>
      <ion-label>Noemie la fourmi</ion-label>
      <ion-badge slot="end" class="coul3">8450</ion-badge>
    </ion-item>
    <ion-item color="sable">
      <ion-avatar slot="start">
        <img src="../../assets/avatars/paula.png">
      </ion-avatar>
      <ion-label>Paula la koala</ion-label>
      <ion-badge slot="end" class="coul3">8400</ion-badge>
    </ion-item>
    <ion-item color="sable"> 
      <ion-avatar slot="start">
        <img src="../../assets/avatars/raph.png">
      </ion-avatar>
      <ion-label>Rapha le lama</ion-label>
      <ion-badge slot="end" class="coul3">8000</ion-badge>
    </ion-item>
    <ion-item color="sable">
      <ion-avatar slot="start">
        <img src="../../assets/avatars/titou.png">
      </ion-avatar>
      <ion-label>Titou le tatoo</ion-label>
      <ion-badge slot="end" class="coul3">7000</ion-badge>
    </ion-item>
    <ion-item color="sable">
      <ion-avatar slot="start">
        <img src="../../assets/avatars/vanessa.png">
      </ion-avatar>
      <ion-label>Vanessa le chat</ion-label>
      <ion-badge slot="end" class="coul3">6800</ion-badge>
    </ion-item>
    <ion-item color="sable">
      <ion-avatar slot="start">
        <img src="../../assets/avatars/johann.png">
      </ion-avatar>
      <ion-label>Anabelle la sauterelle</ion-label>
      <ion-badge slot="end" class="coul3">6700</ion-badge>
    </ion-item>
    <ion-item color="sable">
      <ion-avatar slot="start">
        <img src="../../assets/avatars/johann.png">
      </ion-avatar>
      <ion-label>Bobo le corbeau</ion-label>
      <ion-badge slot="end" class="coul3">6600</ion-badge>
    </ion-item>
    <ion-item color="sable">
      <ion-avatar slot="start">
        <img src="../../assets/avatars/johann.png">
      </ion-avatar>
      <ion-label>Elodie la pie</ion-label>
      <ion-badge slot="end" class="coul3">6500</ion-badge>
    </ion-item>
    <ion-item color="sable">
      <ion-avatar slot="start">
        <img src="../../assets/avatars/johann.png">
      </ion-avatar>
      <ion-label>Yvan l'habitant</ion-label>
      <ion-badge slot="end" class="coul3">10</ion-badge>
    </ion-item>    
  </ion-list>
</ion-content>
