<ion-header>
  <ion-toolbar>
    <ion-title>modaleLangues</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6"> 
          <img src="../../assets/drapeauFrancais.png" alt="français" (click)="languageSelectedFr()">
        </ion-col>
        <ion-col size="6">
          <img src="../../assets/drapeauAnglais.png" alt="anglais" (click)="languageSelectedEn()">
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div> 
    <ion-grid fixed>
      <ion-row>
          <ion-button size="large" shape="round" expand="bloc" (click)="closeModal()" >Valider le choix 
          </ion-button>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>

  </ion-toolbar>
</ion-footer>
